<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head> 
<body>
    <form method = POST>
        <label >Ten mon :</label>
        <input  name='ten_mon' />
        
        <br>
        <br>
        
        <label for="">giá :</label>
        <input name='gia'>
        
        <br>
        <br>
        
        <label for="">link ảnh :</label> 
        <input name="img">
        <input type="submit" value="submit">
        
    </form>
    <table border="2" cellpadding='5'>
        <tr>
            <th>món ăn</th>
            <th>giá tiền</th>
            <th>Hình minh họa</th>
        </tr>
        
        
        
        {% for v in data %}
        <tr>
            <td>{{v.food}}</td>
            <td> {{v.price}} </td>
            <td ><img src={{v.anh}} ></td>
            
            
            
        </tr>
    
        
        {% endfor %}
    </table> 

    
</body>
</html>